<%= render 'shared/header', cached: true %>
<div class="content">
  <div class="wrapper">
        <%= render 'shared/bread'%>
    <div class="bl_dop">
        <h1>Каршеринг</h1>
        <table class="table-carshearing var2">
          <tbody>
            <tr>
              <td></td>
              <td colspan="3">Стоимость (руб. в час)</td>
            </tr>
            <tr>
              <td>Длительность (ч)</td>
              <td>Эконом</td>
              <td>Средний</td>
              <td>Бизнес</td>
            </tr>
            <tr>
              <td>1</td>
              <td>500</td>
              <td>600</td>
              <td>1500</td>
            </tr>
            <tr>
              <td>2-3</td>
              <td>400</td>
              <td>500</td>
              <td>1300</td>
            </tr>
            <tr>
              <td>4-6</td>
              <td>300</td>
              <td>400</td>
              <td>1100</td>
            </tr>
            <tr>
              <td>>7</td>
              <td>250</td>
              <td>350</td>
              <td>1000</td>
            </tr>
            <tr>
              <td>> 2-x суток</td>
              <td>150</td>
              <td>200</td>
              <td>500</td>
            </tr>
          </tbody>
        </table>
        <div>
          <p>
            В Калининграде все больше набирает популярность услуга каршеринга. Каршеринг – это краткосрочная аренда автомобиля, с возможностью оплаты менее чем за 1 сутки аренды. Автопрокат Амиго специализируется на прокате автомобилей и долгосрочной аренде авто, длительностью более двух суток. Тем не менее, стараясь удовлетворить запросы разных категорий арендаторов, мы готовы предложить нашим клиентам машины для краткосрочной аренды, длительностью от одного часа. Поэтому, если длительность вашей поездки в Калининградскую область составляет всего несколько часов, или вам необходим автомобиль для какой-то разовой поездки, то в автопрокате Амиго вы можете воспользоваться услугой каршеринга. Дополнительным преимуществом каршеринга является то, что в услугу включена мойка автомобиля, то есть мыть автомобиль, или при возврате оплачивать мойку не надо. Аренда авто с Амиго – это выгодно и удобно! 
          </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%= render 'shared/footer', cached: true %>
