<%= render 'shared/header', cached: true %>
<div class="content">
  <div class="wrapper">
        <%= render 'shared/bread'%>
    <div class="bl_dop">
        <h1>Страховка КАСКО</h1>
        <div>
          <p>
            Страховка КАСКО – это вид страхования транспортных средств от ущерба или других рисков, связанных с их эксплуатацией. В отношении страхования автомобиля это подразумевает покрытие рисков, связанных с причинением ущерба машине даже по вине владельца транспортного средства. Для клиента автопроката наличие на арендованном авто страховки КАСКО означает, что он не будет нести полную материальную ответственность даже при совершении ДТП по своей вине или, в случае угона автомобиля, не будет возмещать его полную стоимость. 
          </p>
          <p>
            В большинстве автопрокатных компаний Калининграда машины застрахованы только по ОСАГО и договором аренды предусмотрена полная ответственность клиента за любое повреждение или угон предоставленного на прокат авто. Поэтому мы настоятельно рекомендуем всем потенциальным клиентам проката автомобилей внимательно знакомиться с информацией, размещенной на сайтах автопрокатов, с условиями предоставления машины в аренду, а в связи с тем, что зачастую многие компании умалчивают о том, что их договором предусмотрена полная ответственность клиента, уточняйте это у сотрудников автопроката напрямую. Но даже в телефонном разговоре (по отзывам наших клиентов) вам может быть предоставлена недостоверная информация (и договор для ознакомления большинство фирм дистанционно не предоставляет, только по приходу в офис) поэтому, самое главное – <b>внимательно читайте договор аренды автомобиля</b>. 
          </p>
          <p>
            Нашим договором аренды предусмотрена ограниченная ответственность клиента. То есть любой наш клиент, беря напрокат машину, <b>защищен</b> нашим <b>договором</b>. У нас четкие и прозрачные условия и честный договор аренды автомобиля. Вся информация подробно изложена на нашем сайте в разделе «Условия», на все дополнительные вопросы мы готовы ответить по телефону, с нашим договором аренды можно ознакомиться здесь. 
          </p>
          <p>
            Обращайтесь только в надежные и проверенные компании, берегите свои нервы и деньги. С заботой о вас, автопрокат Амиго! 
          </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%= render 'shared/footer', cached: true %>
