<%= render 'shared/header', cached: true %>
<div class="content">
  <div class="wrapper">
        <%= render 'shared/bread'%>
    <div class="bl_dop">
        <h1>Корпоративным клиентам</h1>
        <div>
          <p>
            Для того, чтобы взять в аренду автомобиль представителю организации необходимо предоставить: 
          </p>
          <br />
          <ul>
            <li>паспорт</li>
            <li>водительское удостоверение</li>
            <li>доверенность от организации на право получения автомобиля (или иметь право подписи и печать)</li>
          </ul>
          <br />
          <p>Доступны любые формы расчетов: </p>
          <ul>
            <li>безналичная форма оплаты</li>
            <li>оплата корпоративной банковской картой</li>
            <li>наличный расчет, с предоставлением всех необходимых для отчетности документов, установленных законодательством</li>
          </ul>
          <br />
          <p>Для организации аренда автомобиля несет под собой ряд преимуществ, по сравнению с приобретением автомобиля, ознакомиться с этими преимуществами вы можете в информации про <%= link_to "транспортный аутсорсинг", transportnyi_autsorsing_path %>. </p>
          <ul>
            <li>При заключении договора аренды более чем на один месяц наша компания готова предоставить вам персональные условия аренды автомобиля</li>
            <li>При заключении договора аренды сроком более шести месяцев мы готовы приобрести интересующий вас автомобиль, при отсутствии подобной модели в нашем автопарке</li>
          </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%= render 'shared/footer', cached: true %>
