<%= render 'shared/header', cached: true %>
<div class="content">
  <div class="wrapper">
        <%= render 'shared/bread'%>
    <div class="bl_dop">
        <h1>Способы оплаты</h1>
        <div>
          <p>
            Автопрокат Амиго заботится о своих клиентах и старается сделать максимум для вашего удобства и безопасности. Для вас доступны все <b>способы оплаты</b>:  
          </p>
          <br />
          <ul>
            <li>оплата наличными</li>
            <li>безналичная оплата банковской картой (в том числе бесконтактная)</li>
            <li>оплата банковским переводом, по реквизитам нашей организации</li>
            <li>перевод с карты на карту через онлайн банк (с выпиской кассового чека, согласно действующему законодательству)</li>
            <li>безналичный расчет (для юридических лиц) </li>
          </ul>
          <br />
          <p>Обратите внимание, что залог за арендованный автомобиль, взимается наличными, в связи с тем, что он подлежит возврату клиенту непосредственно в момент возврата автомобиля. При невозможности внести залог наличными, мы готовы принять его любым из вышеуказанных способов, тогда, при внесении и возврате залога, необходимо учесть возможные временные задержки, связанные с особенностями осуществления банковских платежей.</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%= render 'shared/footer', cached: true %>
