<%= render 'shared/header', cached: true %>
<div class="content">
  <div class="wrapper">
        <%= render 'shared/bread'%>
    <div class="bl_dop">
        <h1>Аренда авто с водителем</h1>
        <table class="table-carshearing var2">
          <tbody>
            <tr>
              <td></td>
              <td colspan="3">Стоимость (руб. в час) <sup>*</sup></td>
            </tr>
            <tr>
              <td>Длительность (дней)</td>
              <td>Эконом</td>
              <td>Средний</td>
              <td>Бизнес</td>
            </tr>
            <tr>
              <td>от 4х </td>
              <td>700</td>
              <td>1000</td>
              <td>1500</td>
            </tr>
            <tr>
              <td>от 8ми </td>
              <td>600</td>
              <td>800</td>
              <td>1300</td>
            </tr>
            <tr>
              <td>от 7ми</td>
              <td>500</td>
              <td>600</td>
              <td>1100</td>
            </tr>
            <tr>
              <td>от 1 мес </td>
              <td>400</td>
              <td>500</td>
              <td>1000</td>
            </tr>
          </tbody>
        </table>
        <div>
          <p>
            В указанные цены включены затраты на топливо и мойку автомобиля. Время доставки автомобиля  до арендатора и возврата в пункт проката не оплачивается.  
          </p>
          <p>
            Организациям, при длительности срока аренды авто с водителем более одного месяца, готовы предоставить персональные условия. 
          </p>
          <p>
            <sup>*</sup>Выезд за пределы г. Калининграда в течении одних календарных суток тарифицируется дополнительно - +1час к общей сумме арендной платы исчисленной за текущие сутки. 
          </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%= render 'shared/footer', cached: true %>
