<%= render 'shared/header', cached: true %>
<div class="content">
  <div class="wrapper">
        <%= render 'shared/bread'%>
    <div class="bl_dop">
        <h1>Система скидок</h1>
        <div>
          <p>
            Все взаимоотношения компании Амиго с клиентом строятся на принципе: «Клиент – наш друг!» Этим принципом пронизана вся система работы нашего автопроката, по этому принципу мы обучаем новых сотрудников общению с клиентами. Именно поэтому, уже после первого заказа автомобиля, каждый арендатор становится нашим постоянным клиентом, и со следующего обращения имеет право на скидку. Скидка рассчитывается индивидуально при каждом обращении, в зависимости от срока аренды, класса арендуемого автомобиля и сезонности, и составляет от 5 до 15%. Указанные скидки не суммируются с другими акциями и спецпредложениями, когда на арендуемый автомобиль цена уже снижена.  
          </p>
          <p>
            Кроме того, скидкой может воспользоваться арендатор, который пришел к нам по рекомендации другого нашего клиента. В индивидуальном порядке предоставляются скидки и по карте скидок другого проката автомобилей. 
          </p>
          <p>
            Благодаря такому подходу мы имеем тысячи лояльных клиентов, которые обращаются к нам снова и снова и рекомендуют нас своим друзьям и знакомым, пишут про нас благодарные <%= link_to "отзывы", reviews_path %> с которыми вы можете ознакомиться как на нашем сайте, так и на сторонних ресурсах в сети интернет. Благодаря этому нам доверяют. Автопрокат Амиго – честный прокат автомобилей! 
          </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%= render 'shared/footer', cached: true %>
