<%= render 'shared/header' %>
<div class="content">
  <div class="wrapper">
    <%= render 'shared/bread'%>
    <div class="bl_dop">
        <h1>Цены на доп. оборудование</h1>
        <table>
            <thead>
                <tr>
                    <td>Оборудование</td>
                    <td>За сутки, руб</td>
                    <td>За весь срок до 15 суток, руб</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Детское кресло/бустер</td>
                    <td>100</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>GPS навигатор</td>
                    <td>Бесплатно</td>
                    <td>Бесплатно</td>
                </tr>
            </tbody>
        </table>
        <p>О ценовой политике нашей компании.<br />Ознакомьтесь с актуальным прайс-листом с ценами на аренду автомобилей. Чем более длительный срок аренды, тем ниже суточная стоимость автомобиля. Следите за обновлениями, у нас регулярно предлагаются большие скидки, проводятся акции по снижению цен на все или отдельные виды автомобилей, в зависимости от сезонности и загруженности автопарка. Периодически появляются спецпредолжения на отдельные модели автомобилей. Постоянным клиентам предоставляются скидки до 10% от суточной арендной платы. Так же предоставляем скидки по картам других прокатных компаний. Во всех случаях осуществляем индивидуальный подход к клиенту и можем предоставить дополнительную скидку при длительном сроке аренды. Звоните и мы вас проконсультируем. Дополнительным преимуществом клиента является полная открытость наших тарифов, все честно, никаких скрытых комиссий и дополнительных платежей в суточную арендную плату не включается. Страховка КАСКО уже входит в стоимость.<br />Вы можете заказать аренду авто по всей Калининградской области, без ограничения суточного пробега. Так же, можно оформить прокат автомобиля и заказать доставку в аэропорт Храброво, Светлогорск, Зеленоградск, Балтийск, Янтарный, Черняховск, Советск, Гусев, Пионерск и другие города Калининградской области. Доставка арендованной машины осуществляется за дополнительную плату.<br />*Обратите внимание, что по нашим условиям, при аренде автомобиля на 1 сутки применяется повышающий коэффициент - 1,5 к размеру арендной платы.</p>
        <p><b>Посмотреть текст договора можно <a href="#">здесь</a>, акт приема автомобиля и штрафные санкции <a href="#">здесь</a>.</b></p>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%= render 'shared/footer', cached: true %>
