<% title @text.faqs_title_en %>
<% description @text.faqs_description_en %>
<%= render 'shared/header', cached: true %>
<div class="content">
    <div class="wrapper">
        <%= render 'shared/bread'%>
        <h1>FAQs</h1>
        <div class="bl_faq">
            <div class="fq">
                <div class="vopr"><span>What is the responsibility of the customer in case of damage to the car?</span></div>
                <div class="otvet">
                    <p>If the client is not responsible for the damage caused and has provided duly executed documents from the relevant authorized bodies, then he does not bear any responsibility.</p>
                    <p>If the client has not submitted documents from the relevant authorized bodies about the damage to the car, then he is fully responsible for the damage caused.</p>
                    <p>If the client is the culprit of the damage caused and has provided duly executed documents from the relevant authorized bodies, then he is liable within 5,000 rubles for an ordinary car and up to 15,000 rubles for a business class car. With severe damage to the car (three and more body elements) - 10,000 rubles for a regular car and 30,000 rubles for a business class car.</p>
                </div>
            </div>
            <div class="fq">
                <div class="vopr"><span>Why is the responsibility of the client provided if the cars are insured under the hull?</span></div>
                <div class="otvet">
                    <p>We try to provide the client with the highest possible quality of rental services and a high level of protection, while maintaining the low cost of renting a car. Contracts with insurance companies are concluded with a franchise, that is, there is a minimum amount that is not refundable in the event of an insurance accident caused by the customer. This part of the damage, according to our contract, is compensated by the client. In particular, this is a restrictive measure in order to avoid the client’s negligent attitude towards the rented car.</p>
                </div>
            </div>
            <div class="fq">
                <div class="vopr"><span>How can I be sure that the car will not break on the road?</span></div>
                <div class="otvet">
                    <p>The car is a complex technical device and breakdowns happen even on new cars. We try to keep the vehicle fleet in good technical condition. All cars undergo regular diagnostics and maintenance. If, nevertheless, a trouble happened on the road, our employees are ready to come to your aid at any time of the day and repair or replace a failed vehicle.</p>
                </div>
            </div>
            <div class="fq">
                <div class="vopr"><span>What to do if a serious malfunction occurs with the car?</span></div>
                <div class="otvet">
                    <p>If you have any questions related to the operation of the rented car, you can ask them in the technical support service around the clock and get appropriate advice.</p>
                    <p>If the malfunction is minor and does not prevent further operation of the car, you can eliminate it on the spot or after reaching the nearest car repair shop. We will compensate you for the costs of troubleshooting that arose not through your fault (coordination with technical support is required). If the malfunction is serious and occurs as a result of normal wear and tear, we go to the place and replace the faulty car. If the malfunction occurs due to the fault of the client or as a result of the operation of a deliberately faulty car, a replacement car is not provided, the client reimburses repair costs.</p>
                    <p>Example 1. As a result of wear on the pipe of the cooling system, coolant leaked out, which caused the vehicle to overheat. The client noticed a signal of a control lamp and stopped operating the car, called technical support. The customer is provided with a replacement car, the rental costs are borne by the rental company.</p>
                    <p>Example 2. During use of the machine, the oil pressure warning lamp lights up. The client continued to move. As a result, the engine failed. A replacement car is not provided, the client reimburses the cost of repairing the car.</p>
                </div>
            </div>
            <div class="fq">
                <div class="vopr"><span>How can I make sure that the hull insurance contract is really concluded?</span></div>
                <div class="otvet">
                    <p>We do not give the client a hull insurance contract, as this is not necessary, unlike the CTP insurance policy. Therefore, sometimes customers ask such a question. In this regard, you can be calm. The scope of the client’s liability is stipulated by the car rental agreement; we cannot claim anything beyond the agreement. Even if for some reason the hull insurance contract is not timely extended or absent, all the risks associated with this are borne by our organization, the client is protected by the terms of our contract!</p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%= render 'shared/footer', cached: true %>
