<footer class="main-footer">
  <div class="pull-right hidden-xs">Version 2.0</div>
  Copyright "Артём Шевченко" © 2020 <a href="https://github.com/Arshev" targer="_blank">GitHub</a>. All rights reserved.</footer>
</div>
