<%= render 'shared/header' %>
<div class="content">
    <div class="wrapper">
      <%= render 'shared/bread'%>
      <h1>Условия аренды</h1>
      <div class="bl_usloviya">
          <div class="bl_uslo">
              <div class="zg">Основные:</div>
              <p>возраст водителя от 26 лет (для бизнес-класса от 28 лет)</p>
              <p>водительский стаж от 3 лет (для бизнес-класса от 5 лет)</p>
              <p>минимальный срок аренды - 2 суток, если вы хотите арендовать автомобиль на 1 сутки применяется повышающий коэффициент - 1,5 к стоимости аренды</p>
              <p>минимальный срок аренды при заблаговременном бронировании — 5 суток (в отдельных случаях можем бронировать и на меньший срок, звоните)</p>
          </div>
          <div class="bl_uslo">
              <div class="zg">Документы:</div>
              <p>общегражданский паспорт с регистрацией по месту жительства</p>
              <p>водительское удостоверение</p>
          </div>
          <div class="bl_uslo">
              <div class="zg">Для иностранных граждан:</div>
              <p>паспорт</p>
              <p>водительское удостоверение</p>
              <p>увеличенный залог +5000 рублей</p>
          </div>
          <div class="bl_uslo">
              <div class="zg">Для организаций:</div>
              <p>реквизиты организации</p>
              <p>доверенность на сотрудника, который получает автомобиль</p>
              <p>паспорт и водительское удостоверения водителя</p>
          </div>
          <div class="bl_uslo">
              <div class="zg">Все для клиента:</div>
              <p>страховка КАСКО (минимальная ответственность арендатора)</p>
              <p>круглосуточная поддержка</p>
              <p>возможность безналичной оплаты</p>
              <p>возврат залога сразу при возврате автомобиля</p>
              <p>пробег не ограничен</p>
              <p>скидки постоянным клиентам</p>
              <p>индивидуальный подход</p>
              <p>скидки по картам других прокатных компаний</p>
              <p>лояльное отношение к клиенту при возврате автомобиля</p>
              <p>возможность аренды автомобиля без франшизы</p>
          </div>
          <div class="bl_uslo">
              <div class="zg">Условия предоставления автомобиля без франшизы по страховке -опция <br />"Полная гарантия"(Full insurance):</div>
              <p>Полная гарантия - это дополнителяная опция к договору аренды (по умолчанию не предоставляется и оплачивается отдельно)</p>
              <p>Это возможность для арендатора полностью обезопасить себя от ответственности за взятый в прокат автомобиль, включая повреждения стекол, оптических приборов и колесных дисков по любой причине</p>
              <p>Заключается договор аренды автомобиля без франшизы (залог при этом взимается в обычном порядке, но из него не производятся удержания в случае повреждений автомобиля)</p>
              <p>Опция может быть применена только при сроке аренды четверо суток и более</p>
              <p>Стоимость составляет дополнительно 500 рублей в сутки к установленному тарифу; для автомобилей бизнес класса - дополнительно 1000 рублей в сутки к установленному тарифу</p>
          </div>
          <div class="bl_uslo">
              <div class="zg">Прочие условия:</div>
              <p>курение в автомобиле строго запрещено (штраф 3000 рублей)</p>
              <p>выдача автомобиля осуществляется с полным баком топлива, возврат также, либо доплата за топливо из расчета 50 руб. за литр</p>
              <p>выдача автомобиля после мойки, возврат также, либо оплата мойки от 300 руб.</p>
              <p>выезд за пределы Калининградской области не разрешен, но возможен на особых условиях, по согласованию с арендодателем</p>
              <p>сотрудники автопроката вправе отказать любому клиенту в выдаче автомобиля, без объяснения причин</p>
          </div>
          <div class="bl_uslo">
              <div class="zg">Условия выдачи автомобиля заграницу:</div>
              <p>суточный пробег не ограничен</p>
              <p>зеленая карта оформляется арендатором (можем предоставить нашу скидку до 40% на оформление)</p>
              <p>Взимается дополнительная плата - от 500 рублей в сутки к базовому тарифу</p>
              <p>Взимается повышенный залог - 15000 рублей дополнительно к установленному <br />страховка КАСКО не действует</p>
              <p>Арендодатель вправе отказать в выдаче автомобиля заграницу</p>
              <p>За отказ в пропуске автомобиля через границу по любой причине, арендодатель ответственности не несет</p>
              <p>Арендатор обязуется в любом случае вернуть автомобиль в пункт аренды</p>
          </div>
          <p class="niz">Посмотреть текст договора можно здесь, акт приема автомобиля и штрафные санкции здесь.</p>
          <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
</div>
<%= render 'shared/footer', cached: true %>
