<% title @text.bookings_title_en %>
<% description @text.bookings_description_en %>
<%= render 'shared/header' %>
<div class="content">
  <div class="wrapper">
      <div class="bread">
          <a href="/">Main</a> / Bookings
      </div>
      <div class="zagol"><h1><%= @text.bookings_h1_en.html_safe %></h1></div>
      <div class="bl_about">
          <rentprog-widget 
            token="24b264ea58a95dc28be76f48bc"
            show_all_cars='false'
            places='[{"place":"Офис","price":0},{"place":"Доставка по городу","price":300},{"place":"Аэропорт","price":400}]'
            chairs='{"daily": false, "price": 300}'
            boosters='{"daily": true, "price": 100}'
            agreement='{"text": ", а так же принимаете ", "link_text": "условия аренды", "link": "https://rentprog.ru/public/agreement.html"}'
            passport_required="false"
            driver_license_required="false"
            birthday_required="false"
            email_required="true"
            phone_required="true"
          ></rentprog-widget>
      </div>
      <div class="block_vopros">
        <div class="wrapper">
          <div class="vopros">
            <div class="otv" style="display: block;">
              <%= @text.bookings_bottom_text_en.html_safe %>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="clear"></div>
  </div>
</div>
<%= render 'shared/footer', cached: true %>
