<div class="polosa">
        <div class="wrapper">
            <p><%= @text.main_up_text %></p>
            <a href="#" class="zaya">Оставить заявку</a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header">
        <div class="wrapper">
            <% if current_page?(controller: 'main', action: 'index') %>
            <a href="/" id="logo">
                <%= image_tag("logo.png")%>
            </a>
            <div id="menu_tg2">
                <span></span>
                <span></span>
                Меню
            </div>
            <ul class="menu_mob">
                <li class="parent">
                    <a href="#">Автомобили</a>
                    <ul>
                        <li>
                            <a href="#">Бизнес класс</a>
                        </li>
                        <li>
                            <a href="#">Премиум класс</a>
                        </li>
                        <li>
                            <a href="#">Эконом класс</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Цены</a>
                </li>
                <li>
                    <a href="#">Отзывы</a>
                </li>
                <li>
                    <a href="#">Заказать</a>
                </li>
                <li>
                    <a href="#">Контакты</a>
                </li>
            </ul>
            <ul class="menu_top">
                <li class="parent">
                    <a href="#">Автомобили</a>
                    <ul>
                        <li>
                            <a href="#">Бизнес класс</a>
                        </li>
                        <li>
                            <a href="#">Премиум класс</a>
                        </li>
                        <li>
                            <a href="#">Эконом класс</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Цены</a>
                </li>
                <li>
                    <a href="#">Отзывы</a>
                </li>
                <li>
                    <a href="#">Заказать</a>
                </li>
                <li>
                    <a href="#">Контакты</a>
                </li>
            </ul>
            <div id="menu_tg">
                <span></span>
                <span></span>
                Меню
                <div id="menu_vipad">
                    <ul class="menu_vip">
                        <li class="active">
                            <a href="#">Главная</a>
                        </li>
                        <li>
                            <a href="#">Автомобили</a>
                        </li>
                        <li>
                            <a href="#">Цены</a>
                        </li>
                        <li>
                            <a href="#">Контакты</a>
                        </li>
                        <li>
                            <a href="#">Заказать</a>
                        </li>
                        <li>
                            <a href="#">Отзывы</a>
                        </li>
                        <li>
                            <a href="#">Условия</a>
                        </li>
                        <li>
                            <a href="#">Доставка</a>
                        </li>
                        <li>
                            <a href="#">Города</a>
                        </li>
                        <li>
                            <a href="#">Еще</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="gorod">
                <span>Калининград</span>
                <a href="#">Выбрать город</a>
                <div class="vipad">
                    <a href="#">Москва</a>
                    <a href="#">Санкт-Петербург</a>
                    <a href="#" class="active">Калининград</a>
                    <a href="#">Воронеж</a>
                </div>
            </div>
            <div class="lang">
                <span>EN</span> / <a href="#">RU</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>