<div class="blcks">
    <div class="blck">
        <%= image_tag "Otnosh.svg", alt:"", title:""%>
        Дружественное отношение
    </div>
    <div class="blck">
        <%= image_tag "podderzhka.svg", alt:"", title:""%>
        Круглосуточная поддержка
    </div>
    <div class="blck">
        <%= image_tag "probeg.svg", alt:"", title:""%>
        Безлимитный <br />пробег
    </div>
    <div class="blck">
        <%= image_tag "vozvrat.svg", alt:"", title:""%>
        Низкие <br />цены
    </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
