<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Новая заявка на звонок!</h1>
    <p>Имя: <%= @name %></p>
    <p>Телефон: <%= @phone %></p>
    <p>Текст: <%= @text %></p>
  </body>
</html>
