<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ошибка отправки TG Амгорент</h1>
    <p>Статус: <%= @status %></p>
    <p>Data: <%= @data %></p>
    <p>Body: <%= @text %></p>
  </body>
</html>
