<%= render 'shared/header' %>
<div class="content">
  <div class="wrapper">
    <%= render 'shared/bread'%>
    <h1>Автомобили</h1>
    <div class="bl_avtomob">
      <%= render 'cars'%>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%= render 'shared/footer', cached: true %>
