<% title @cars_title %>
<% description @cars_description %>
<%= render 'shared/header', cached: true %>
<div class="content">
  <div class="wrapper">
    <%= render 'shared/bread'%>
    <h1>Cars</h1>
    <div class="bl_avtomob">
      <%= render 'cars', cached: true %>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%= render 'shared/footer', cached: true %>
