<%= render 'shared/header' %>
<div class="content">
    <div class="wrapper">
        <%= render 'shared/bread'%>
        <div class="bl_avto">
            <div class="pol1">
                <h1>Chevrolet Spark Promo</h1>
                <div class="bir">Эконом</div>
                <div class="bl_full">
                    <div class="badge">
                        <img src="images/badge.png" alt="" />
                    </div>
                    <img src="images/full.jpg" alt="" />
                </div>
                <div class="bl_imgs">
                    <a href="#">
                        <img src="images/full.jpg" alt="" />
                    </a>
                    <a href="#">
                        <img src="images/full.jpg" alt="" />
                    </a>
                    <a href="#">
                        <img src="images/full.jpg" alt="" />
                    </a>
                    <a href="#">
                        <img src="images/full.jpg" alt="" />
                    </a>
                    <a href="#">
                        <img src="images/full.jpg" alt="" />
                    </a>
                    <a href="#">
                        <img src="images/full.jpg" alt="" />
                    </a>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="pol2">
                <div class="zg">Спецификация:</div>
                <div class="rating">
                    Рейтинг модели:
                    <img src="images/ra1.png" alt="" />
                    <img src="images/ra1.png" alt="" />
                    <img src="images/ra1.png" alt="" />
                    <img src="images/ra1.png" alt="" />
                    <img src="images/ra0.png" alt="" />
                </div>
                <p>
                    <img src="images/i1.png" alt="" />
                    Коробка передач:
                    <span>Автомат</span>
                </p>
                <p>
                    <img src="images/i2.png" alt="" />
                    Цвет кузова:
                    <span>Черный</span>
                </p>
                <p>
                    <img src="images/i3.png" alt="" />
                    Вид топлива:
                    <span>Бензин</span>
                </p>
                <p>
                    <img src="images/i4.png" alt="" />
                    Год выпуска:
                    <span>2013</span>
                </p>
                <p>
                    <img src="images/i5.png" alt="" />
                    Объем двигателя:
                    <span>1,0л</span>
                </p>
                <p>
                    <img src="images/i6.png" alt="" />
                    Тип кузова:
                    <span>Хэтчбэк</span>
                </p>
                <p>
                    <img src="images/i7.png" alt="" />
                    Количество дверей:
                    <span>5</span>
                </p>
                <p>
                    <img src="images/i8.png" alt="" />
                    Кондиционер:
                    <span>Есть</span>
                </p>
                <p>
                    <img src="images/i9.png" alt="" />
                    Электропакет:
                    <span>Есть</span>
                </p>
                <div class="price">от <b>700</b> руб/сутки</div>
                <a href="#" class="bron">Забронировать</a>
            </div>
            <div class="clear"></div>
            <div class="bl_perekl">
                <a href="#" class="active" data-per="pere1">Описание</a>
                <a href="#" data-per="pere2">Цены</a>
            </div>
            <div class="perek active" id="pere1">
                <p>Машина доступна в широком цветовом ассортименте: салатовый, красный, белый, черный. Шевроле Спарк - это 5-дверный хэтчбек, самый популярный в прокате автомобиль эконом класса с автоматической коробкой передач. Яркий современный дизайн, просторный салон, экономичность и невысокая стоимость аренды делают его самым удачным выбором для поездок двух-трёх человек с небольшим количеством багажа. Небольшие размеры делают его очень удобным для эксплуатации в городских условиях. Мотор объемом 1л. позволит существенно экономить на топливе, при этом его вполне достаточно для спокойной и ненапряженной езды. В салоне все сделано для вашего удобства: полочки, подстаканники, полезные мелочи, все под рукой. Все машины данной модели оборудованы USB-входом и AUX в штатной комплектации. На некоторых авто есть подогрев сидений. Необходимый электропакет тоже присутствует. Выбирая автомобиль для аренды обращайтесь только в надежные и проверенные фирмы с высоким рейтингом, проверенные временем. Автопрокат Амиго уже более 10 лет предоставляет услуги проката на территории Калининградской области и в других регионах России.</p>
                <div class="clear"></div>
            </div>
            <div class="perek" id="pere2">
                <p>Тут будут цены.</p>
                <div class="clear"></div>
            </div>
            <div class="bl_ostav">
                <div class="zg">Заполните данные что бы оставить отзыв</div>
                <form>
                    <input type="text" value="" placeholder="Ваше имя" name="" />
                    <input type="text" value="" placeholder="Ваш телефон" name="" />
                    <input type="text" value="" placeholder="Ваш E-mail" name="" />
                    <div class="clear"></div>
                    <textarea placeholder="Ваш отзыв"></textarea>
                    <div class="rating">
                        <p class="num1">
                            <img src="images/ra0.png" alt="" />
                            <img src="images/ra1.png" alt="" />
                        </p>
                        <p class="num2">
                            <img src="images/ra0.png" alt="" />
                            <img src="images/ra1.png" alt="" />
                        </p>
                        <p class="num3">
                            <img src="images/ra0.png" alt="" />
                            <img src="images/ra1.png" alt="" />
                        </p>
                        <p class="num4">
                            <img src="images/ra0.png" alt="" />
                            <img src="images/ra1.png" alt="" />
                        </p>
                        <p class="num5">
                            <img src="images/ra0.png" alt="" />
                            <img src="images/ra1.png" alt="" />
                        </p>
                    </div>
                    <input type="submit" value="Отправить отзыв" name="">
                </form>
                <div class="clear"></div>
            </div>
            <div class="bl_otz">
                <div class="zag">Отзывы</div>
                <div class="otz">
                    <div class="data">29.02.2020</div>
                    <div class="fio">Иванов Иван</div>
                    <div class="rating">
                        <img src="images/ra1.png" alt="" />
                        <img src="images/ra1.png" alt="" />
                        <img src="images/ra1.png" alt="" />
                        <img src="images/ra1.png" alt="" />
                        <img src="images/ra05.png" alt="" />
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                </div>
                <div class="otz">
                    <div class="data">29.02.2020</div>
                    <div class="fio">Иванов Иван</div>
                    <div class="rating">
                        <img src="images/ra1.png" alt="" />
                        <img src="images/ra1.png" alt="" />
                        <img src="images/ra1.png" alt="" />
                        <img src="images/ra1.png" alt="" />
                        <img src="images/ra05.png" alt="" />
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                </div>
                <div class="otz">
                    <div class="data">29.02.2020</div>
                    <div class="fio">Иванов Иван</div>
                    <div class="rating">
                        <img src="images/ra1.png" alt="" />
                        <img src="images/ra1.png" alt="" />
                        <img src="images/ra1.png" alt="" />
                        <img src="images/ra1.png" alt="" />
                        <img src="images/ra05.png" alt="" />
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                </div>
                <a href="#" class="all">Посмотреть все отзывы</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%= render 'shared/footer', cached: true %>
